<div class="Container">
  <h1>
    WELCOME TO OUR WORLD CLASS INVENTORY TRACKER!
  </h1>
  <a>
    We at The Tracker are perfect for businesses who would like track their inventory.
  </a>
  <h1>
    <a class="nav-link" href="/log-in">Log in</a>
    <a class="nav-link" href="/sign-up">sign up</a>
  </h1>
  </div>
</div>
