<!-- views/inventory-new.handlebars -->

<form method="POST" action="/inventory">
  <fieldset>
    <div class="container">
      <legend>New Item</legend>
      <!-- TITLE -->
      <p>
        <label for="title">Item</label><br>
        <input type="text" name="title" />
      </p>
      <p>
        <label for="desc">Quantity</label><br>
        <input type="text" name="integer" />
      </p>
    </fieldset>

    <!-- BUTTON -->
    <p>
      <button type="submit">Save Item</button>
    </p>

    </div>

</form>
