<!-- views/inventory-index.handlebars -->
<div class="row mt-4">
    <div class="col-lg-6 offset-lg-3">
        <!-- Add the following two lines -->
        <h1>New item</h1>
        <a href="/new">New Item</a>
    </div>
</div>
