<!-- views/Contacts-new.handlebars -->
<div class="row mt-4">
  <div class="col-lg-6 offset-lg-3">
      <div class="card">
          <div class="card-body">
              <div class="card-title">
                  <h3>Log in</h3>
                  <p>
                    Hello returning customer, thank you for your continued support.
                  </p>
              </div>
              <div class="card-text">
                  <form action="/" method="post">
                      <div class="form-group">
                          <label for="title">Email</label>
                          <input name="email" class="form-control" placeholder="Jane.Doe@gmail.com" />
                          <label for="title">password</label>
                          <input name="password" class="form-control" placeholder="********" />
                          <button type="submit" class="btn btn-secondary">Log in</button>
                      </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
